version: '3.8'

services:
# Nginx Service for the second instance
  nginx_stag:
    image: nginx:alpine
    container_name: emhealth_nginx_stag
    ports:
      - "7070:80"  # Second instance on port 8081
    volumes:
      - ./:/var/www/html
      - ./docker-compose/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel_network_stag
    depends_on:
      - php_stag

  # PHP-FPM Service for the second instance
  php_stag:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: emhealth_php_stag
    volumes:
      - ./:/var/www/html
    networks:
      - laravel_network_stag

networks:
  laravel_network_stag:
    driver: bridge
