version: '3.8'

services:
  # Nginx Service
  nginx:
    image: nginx:alpine
    container_name: emhealth_nginx
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./docker-compose/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel_network
    depends_on:
      - php

  # PHP-FPM Service
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: emhealth_php
    volumes:
      - ./:/var/www/html
    networks:
      - laravel_network

networks:
  laravel_network:
    driver: bridge
